fastapi
uvicorn
pydantic
groq
python-dotenv
requests
sentence-transformers
arxiv
pymupdf
python-multipart
sqlalchemy
passlib[argon2]
python-jose[cryptography]
python-multipart
chromadb
google-auth
email-validator